---
import BaseLayout from '@/layouts/BaseLayout';
import ListCategories from '@/components/ListCategories';
---

<BaseLayout title='Categories'>
    <div>
        <ListCategories />
    </div>
</BaseLayout>
