---
import BaseLayout from '@/layouts/BaseLayout';
---

<BaseLayout title='About'>
    <article class='px-4 py-6 md:px-32'>
        <h2 class='text-2xl font-heading font-bold mb-10'>Hello there.</h2>
        <section class='flex flex-col gap-4 md:gap-6'>
            <p>
                My name is Nick. This is a site I have made to house a
                collection of essays and projects that I have been working on
                over the years.
            </p>
            <p>
                Growing up, my earliest passions were reading and, therefore,
                writing. This is a way for me to not only rekindle that which
                has been lost but also to parse the many varied and colourful
                experiences that cross my field of view.
            </p>
            <p>A little about me first...</p>
            <p>
                I am currently working as a software engineer in Sydney for the
                networking arm of Amazon Web Services.
            </p>
            <p>
                I recently completed my studies at{' '}
                <a href='https://monash.edu' class='underline--magical'>
                    Monash University
                </a>{' '}
                in Victoria, Australia, completing a double-degree of a Bachelor
                of Engineering (Honours) and a Bachelor of Science. I specialised
                in Electrical and Computer Systems Engineering, and majored in Computational
                Science and Pure Mathematics. I was a member of research teams in
                the domains of deep learning and carbon capture/conversion.
            </p>
            <p>
                I love playing sport of any kind, particularly basketball. My
                hobbies are many and varied, but currently I am spending a lot
                of my time playing piano, cycling and
                <a
                    href='https://www.strava.com/athletes/51831954'
                    class='underline--magical'
                >
                    running
                </a>
            </p>
        </section>
    </article>
</BaseLayout>
