---
import ArrowUp from '@/components/icons/ArrowUp';
---

<button id='scrollToTopBtn' class='mt-3 transition-all duration-500 ease-in'>
    <span
        class='text-lg font-semibold group-hover:rotate-45 transition-transform duration-250 ease-in-out flex items-end'
        >Back to top <ArrowUp /></span
    >
</button>

<script>
    const button = document.getElementById('scrollToTopBtn');

    const toTopFunction = () => {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    };

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (!button) return;
        const height = 600;
        if (
            document.body.scrollTop > height ||
            document.documentElement.scrollTop > height
        ) {
            button.classList.remove('opacity-0', 'pointer-events-none');
            button.classList.add('opacity-100', 'pointer-events-auto');
        } else {
            button.classList.remove('opacity-100', 'pointer-events-auto');
            button.classList.add('opacity-0', 'pointer-events-none');
        }
    }

    button?.addEventListener('click', () => toTopFunction());
</script>
