---
import ArrowUp from '@/components/icons/ArrowUp';
---

<button
    id='scrollToTopBtn'
    class='/* mobile floating button */
  fixed bottom-6 left-1/2 -translate-x-1/2
  h-16 p-2
  z-[10000]
  rounded-xl
  border-2 border-primary
  bg-primary hover:bg-white
  transition-all duration-500
  /* desktop inline link */
  md:static
  md:h-auto md:p-0
  md:border-0
  md:bg-transparent md:hover:bg-transparent
  md:rounded-none
  md:translate-x-0'
>
    <span
        class='hidden text-slate-700 dark:text-slate-300 text-lg font-semibold group-hover:rotate-45 transition-transform duration-250 ease-in-out md:flex items-end'
        >Back to top <ArrowUp /></span
    >
    <span class='flex md:hidden justify-center items-center gap-3'>
        Back to top
        <div class='-rotate-45'>
            <ArrowUp width='30' height='30' />
        </div>
    </span>
</button>

<script>
    const button = document.getElementById('scrollToTopBtn');

    const toTopFunction = () => {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    };

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (!button) return;
        const height = 600;
        if (
            document.body.scrollTop > height ||
            document.documentElement.scrollTop > height
        ) {
            button.classList.remove('opacity-0', 'pointer-events-none');
            button.classList.add('opacity-100', 'pointer-events-auto');
        } else {
            button.classList.remove('opacity-100', 'pointer-events-auto');
            button.classList.add('opacity-0', 'pointer-events-none');
        }
    }

    button?.addEventListener('click', () => toTopFunction());
</script>
