---
import NewsletterForm from '@/components/NewsletterForm';
import { footerLinks } from '@/data/links';
---

<footer
    class='w-full px-16 h-56 flex flex-col items-center justify-center gap-6 my-5'
>
    <div
        class='border-t-2 flex flex-col-reverse md:flex-row justify-center items-center gap-8 w-full pt-6 pb-4'
    >
        <div class='flex-[4] flex flex-col items-center gap-2'>
            <p>Okay, it's not that interesting. Go do something.</p>
            <NewsletterForm />
        </div>
        <div class='flex-[2] flex'>
            {
                footerLinks.map((link, index) => (
                    <div class='flex gap-2 ml-2'>
                        <a class='hoverLink' href={link.url}>
                            {link.text}
                        </a>
                        {index != footerLinks.length - 1 && <p>&#10022;</p>}
                    </div>
                ))
            }
        </div>
    </div>

    <div class='border-t-2 w-full text-center pt-4'>
        Built with 💜 using <a
            href='https://astro.build/'
            class='underline hoverLink'
            target='_blank'
            rel='noopener noreferrer'>Astro</a
        > &#10022; Inspired by <a
            href='https://github.com/danielcgilibert/blog-template'
            class='underline hoverLink'
            target='_blank'
            rel='noopener noreferrer'>danielcgilibert</a
        >
    </div>
</footer>
