---
import NewsletterForm from '@/components/NewsletterForm';
import { footerLinks } from '@/data/links';
---

<footer
    class='w-full h-56 flex flex-col items-center justify-center gap-6 mb-5 mt-12 text-sm md:text-base'
>
    <div
        class='border-t-2 py-10 flex flex-col-reverse md:flex-row justify-center items-center gap-12 w-full'
    >
        <div class='flex-[4] flex flex-col items-center gap-3'>
            <p class='text-center'>
                Okay, it's not that interesting. Go do something.
            </p>
            <NewsletterForm />
        </div>
        <div class='flex-[2] flex'>
            {
                footerLinks.map((link, index) => (
                    <div class='flex gap-2 ml-2'>
                        <a
                            class='underline--magical'
                            href={link.url}
                            target={link.openInNewTab ? '_blank' : undefined}
                            rel={
                                link.openInNewTab
                                    ? 'noopener noreferrer'
                                    : undefined
                            }
                        >
                            {link.text}
                        </a>
                        {index != footerLinks.length - 1 && <p>&#10022;</p>}
                    </div>
                ))
            }
        </div>
    </div>

    <div
        class='border-t-2 w-full text-center pt-8 pb-4 flex flex-col md:flex-row md:gap-2 justify-center'
    >
        <p>
            Built with 💜 using <a
                href='https://astro.build/'
                class='underline--magical hoverLink'
                target='_blank'
                rel='noopener noreferrer'>Astro</a
            >
        </p>
        <p>&#10022;</p>
        <p>
            Inspired by <a
                href='https://github.com/danielcgilibert/blog-template'
                class='underline--magical hoverLink'
                target='_blank'
                rel='noopener noreferrer'>danielcgilibert</a
            >
        </p>
    </div>
</footer>
