---
import type { CollectionEntry } from 'astro:content';
import Category from '@/components/Category';

type Props = {
    categories: CollectionEntry<'categories'>[];
    activeCategory: String;
};

const { categories, activeCategory = '' } = Astro.props;
---

<div
    class='mt-5 mb-3 flex flex-row-reverse flex-wrap-reverse justify-center w-full md:w-2/3 mx-auto'
>
    {
        categories.map((category) => {
            return (
                <Category
                    data={category.data}
                    slug={category.slug}
                    activeCategory={activeCategory}
                />
            );
        })
    }
</div>
