---
import ContentType from '@/components/ContentType';
import { contentTypes } from '@/data/links';
import type { IContentType } from '@/types/contentType';
---

<div class='relative flex flex-wrap min-w-full gap-5'>
    <ContentType />
    {
        contentTypes.map((contentType: IContentType) => (
            <ContentType name={contentType.name} icon={contentType.icon} />
        ))
    }

    <div
        class='hidden sm:block absolute w-full bottom-0 border-b-2 -z-40 dark:border-gray-600'
    >
    </div>
</div>
