---
import { cn } from '@/utils';

type Props = {
    href: string;
    rootHref: string;
    isActive: boolean;
};

const { href, rootHref, isActive, ...props } = Astro.props;
---

<a
    href={isActive ? rootHref : href}
    class={cn(
        'relative flex items-center justify-center text-md md:text-lg font-medium border-2 transition-all duration-300 px-2 py-1 md:px-5 md:py-2 rounded-lg',
        'border-border text-foreground',
        !isActive &&
            'hover:border-primary hover:bg-primary/30 hover:text-primary',
        isActive && 'border-primary bg-primary/30 text-primary'
    )}
    {...props}
>
    <span class='transition-all duration-300'>
        <slot />
    </span>
</a>
