---
import { slugify } from '@/utils';
export interface Props {
    tag: string;
}
const { tag } = Astro.props;
---

<a
    href={`/tags/${slugify(tag.toLowerCase())}/1`}
    aria-label={tag}
    class='border-2 border-accent font-semibold text-sm w-fit px-2 py-1 md:px-5 md:py-2 rounded-lg hover:bg-accent transition-all duration-700'
>
    #{tag.toLowerCase()}
</a>
