---
import ContentTypeListView from '@/components/ContentTypeListView';
import ContentTypeLayout from '@/layouts/ContentTypeLayout';
import { ContentTypeEnum } from '@/data/utils';
import { getAllProjects } from '@/utils';

const allProjects = await getAllProjects();
---

<ContentTypeLayout title='Projects' contentType='projects'>
    <div class='mt-5 mb-8 flex flex-wrap justify-center w-full'>
        <ContentTypeListView
            entities={allProjects}
            contentType={ContentTypeEnum.Projects}
        />
    </div>
</ContentTypeLayout>
