---

---

<div
    class='flex gap-4 justify-start md:pl-20 [&>svg]:h-8 [&>svg]:md:h-12 [&>svg]:w-auto'
>
    <!--diamond mediuma arrow shape-->
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480'
        ><path
            d='M240 0 120 120l120 120-120 120 120 120 240-240L240 0z'
            fill='#7c83bc'></path></svg
    >
    <!-- circle half donut mirror -->
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480'
        ><g fill='#7c83bc'
            ><path
                d='M240 240A240 240 0 0 0 0 480h120a120 120 0 0 1 240 0h120a240 240 0 0 0-240-240Z'
            ></path><path
                d='M480 0H360a120 120 0 0 1-240 0H0a240 240 0 1 0 480 0Z'
            ></path></g
        ></svg
    >
    <!-- diamond double overlap -->
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480'
        ><path
            d='M480 240 320 0l-80 120L160 0 0 240l160 240 80-120 80 120 160-240z'
            fill='#7c83bc'></path></svg
    >
    <!-- rectangle quarter long alternates -->
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480'
        ><path
            d='M240 120h240v120H240zM0 240h240v120H0zM240 360h240v120H240zM0 0h240v120H0z'
            fill='#7c83bc'></path></svg
    >
    <!-- triangle equilateral 2 mirror offset round -->
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480'
        ><path
            d='M320 240 206.6 70a56 56 0 0 0-93.2 0L0 240h160l113.4 170a56 56 0 0 0 93.2 0L480 240H320Z'
            fill='#7c83bc'></path></svg
    >
    <!-- mix rectangles circle halves -->
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480'
        ><path
            d='M320 0v240a160 160 0 1 0-320 0v240h160V240a160 160 0 1 0 320 0V0H320Z'
            fill='#7c83bc'></path></svg
    >
</div>
