---
import BaseHead from '@/components/BaseHead';
import Header from '@/components/Header';
import Footer from '@/components/Footer';
import ProviderTheme from '@/components/ProviderTheme';
import ProviderAnimations from '@/components/ProviderAnimations';
import TwSizeIndicator from '@/components/TwSizeIndicator';
import EditBlog from '@/components/editBlog';
const { title, description, image, articleDate } = Astro.props;
---

<html lang='en' class='scroll-smooth'>
    <head>
        <BaseHead
            title={title}
            description={description}
            ogImage={image}
            articleDate={articleDate}
        />
        <ProviderTheme />
        <ProviderAnimations />
    </head>

    <body
        class='bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white min-h-screen flex flex-col'
    >
        <!-- Main content area -->
        <main
            class='flex flex-col flex-grow px-5 mt-4 antialiased sm:mx-auto sm:max-w-2xl sm:px-8 md:max-w-6xl lg:px-0 overflow-hidden md:overflow-visible'
        >
            <Header />

            <!-- Slot wrapper grows -->
            <div class='flex-grow grid gap-12'>
                <slot />
            </div>

            <Footer />
        </main>

        <!-- Global utilities / overlays -->
        <TwSizeIndicator />
        <EditBlog />

        <style>
            body {
                /* Prevent layout shift when scrollbar appears/disappears */
                margin-left: calc(100vw - 100%);
            }
        </style>
    </body>
</html>
