---
import BaseHead from '@/components/BaseHead';
import Header from '@/components/Header';
import Footer from '@/components/Footer';
import ProviderTheme from '@/components/ProviderTheme';
import ProviderAnimations from '@/components/ProviderAnimations';
import TwSizeIndicator from '@/components/TwSizeIndicator';
const { title, description, image, articleDate } = Astro.props;
---

<html lang='en' class='scroll-smooth'>
    <head>
        <BaseHead
            title={title}
            description={description}
            ogImage={image}
            articleDate={articleDate}
        />
        <ProviderTheme />
        <ProviderAnimations />
    </head>

    <body
        class='bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white min-h-screen flex flex-col'
    >
        <div
            class='w-full md:max-w-[1152px] md:mx-auto flex flex-col px-5 sm:px-8 mt-4 flex-grow'
        >
            <Header />

            <!-- Main content -->
            <main class='flex flex-col flex-grow antialiased mt-4 mb-8'>
                <slot />
            </main>

            <Footer />
        </div>

        <TwSizeIndicator />

        <style>
            body {
                margin-left: calc(100vw - 100%);
            }
        </style>
    </body>
</html>
