---
// Layout import
import MainHead from "./MainHead.astro";

import Footer from "../components/Footer.astro";
// Component import
import Nav from "../components/Nav.astro";

// Style import
import "../styles/main.scss";
---

<html lang="en">
    <MainHead />
    <body>
        <Nav />
        <main>
            Hello from main
        </main>
        <Footer />
    </body>

</html>
