---
// Layout import
import MainHead from "./MainHead.astro";

import Footer from "../components/Footer.astro";
// Component import
import Nav from "../components/Nav.astro";

// Style import
import "../styles/main.scss";
import "@fontsource-variable/manrope";
import "@fontsource-variable/eb-garamond";
import "@fontsource-variable/jetbrains-mono";
---

<html lang="en">
    <MainHead />
    <body>
        <Nav />
        <main class="font-heading">Hello from main</main>
        <Footer />
    </body>
</html>
